.form-vertical-default {
  display: flex;
  flex-direction: column;
}

.form-horizontal-default {
  display: flex;
  flex-direction: row;
}

.form-control-default {
  padding: 6px;
}

.form-control-widget-default {
  padding: 4px;
}
