.form-vertical-default {
  display: flex;
  flex-direction: column;
}

.form-horizontal-default {
  display: flex;
  flex-direction: row;
}

.form-control-default {
  padding: 6px;
}

.form-control-widget-default {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.default-uniqueitem-enum-widget {
  display: flex;
  flex-direction: row;
}

.form-array-item {
  border-style: solid;
  border-width: 1px;
  margin: 8px;
  padding: 4px;
}

.form-uniqueitem-enum-array-item {
  border-style: unset;
  border-width: unset;
  margin: unset;
  padding: unset;
}
